@model AppGestionEMS.Models.Cursos

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Cursos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Año
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anyo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
